<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%= title %></h1>
    <a href="/new">Post a Message</a>
    <hr>
    <ul>
        <% messages.forEach((msg, index) => { %>
            <li>
                <strong><%= msg.user %></strong>: <%= msg.text %> 
                <br>
                <small>(<%= msg.added.toLocaleString() %>)</small>
                <br>
                <a href="/message/<%= index %>">Open</a>
            </li>
        <% }) %>
        
    </ul>
</body>
</html>